.slider{
   background: url(../assets/body-painting.jpg);
   @apply h-[calc(100svh-80px)] bg-cover md:bg-center text-white 
   flex justify-center items-center bg-black
}
.landing{
   @apply text-center space-y-6
}
.slogan{
   @apply text-7xl  
}
.ara{
   transition: .2s;
   @apply inline-flex px-2 py-1 rounded-md text-2xl border-2 items-center
   border-yellow-300 text-yellow-300 font-semibold
   space-x-2
}
.ara:hover{
   background-color: rgb(255, 240, 34);
   color: black;
   scale: 1.07;
}
.ara:active{
   background-color: rgb(177, 171, 0);
   color: black;
}
.about-heading{
   background: url(../assets/hairdresser.jpg);
   @apply bg-black bg-cover bg-center flex justify-center text-white 
   text-5xl md:text-6xl py-20 font-semibold lg:py-32 mb-5
}
.heading1{
   @apply text-4xl my-4
   font-medium text-yellow-500
}
.heading2{
   @apply text-2xl my-2 text-yellow-700
}
.text{
   @apply text-lg
}
.serv-heading{
   background: url(../assets/sac-islemleri.jpg);
}