@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.theNavbar{
   @apply flex justify-between bg-black items-center
   text-white z-10 md:p-4 ps-4
}
.theMenu{
   @apply space-x-8 hidden md:flex
}
.theLogo{
   @apply text-5xl text-yellow-500
}
.hamburger-button{
   @apply md:hidden
}
.hamburger{
   @apply text-yellow-500
}
.mobileMenu{
   @apply py-2 pb-10 bg-black text-white text-center  
    w-full absolute -z-10 text-lg md:hidden
}
.mobileLinks{
   @apply block
}
.sac{background: url(/assets/dark-hair.jpg);}
.makyaj{background: url(/assets/makyaj.jpg);}
.gelin{background: url(/assets/bride-hair.jpg);}
.elayak{background: url(/assets/protez-tirnak.jpg);}
.mikro{background: url(/assets/mikro.jpg);}
.bakim{background: url(/assets/bakim.jpg);}

#servCard{
   @apply  text-white py-10 ps-4 md:py-14 md:ps-10
   space-y-4 rounded-lg border border-gray-700 bg-center
}
.servTitle{
   @apply text-xl
}
.serv-wrapper{
   @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3
   gap-8 py-8 bg-black px-5
}
.servLink{
   transition: 0.2s;
   @apply text-black font-semibold text-lg
    bg-yellow-500 px-2 py-1 rounded-md
}
.servLink:hover{background-color: yellow;scale: 1.05;}
.servLink:active{background-color: #8e8e00;scale: 1.05;}

.desktopServBtn{
   @apply flex items-center space-x-1
}
.desktop-serv-wrapper{
   @apply bg-gray-950 text-white
   px-8 right-0 -z-10 text-xl py-4 border-b border-gray-600 
   hidden md:flex justify-center 
}
.desktopLinks{
   @apply  space-x-6 [&>*:hover]:text-yellow-500
}
.active{
   @apply text-yellow-300
}
.footer-media-wrapper{
   @apply [&>*]:block space-y-1 text-start
   [&>a]:text-blue-500
   [&>a:hover]:text-blue-600
   [&>a:hover]:scale-105
   [&>a>span]:inline-flex
   [&>a>span]:items-center
   [&>a>span]:space-x-1
}
.rights-reserved{
   @apply w-full flex justify-center md:items-center 
}
}