@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.tableWrapper{
   font-family: Roboto;
   @apply flex justify-center w-full px-2 pb-10 
}
.listHeading{
   @apply text-center py-5 text-3xl
}

table {
   box-shadow: 0 0 8px 4px #acacac;
   @apply w-full md:w-10/12 lg:w-9/12
}
tbody{
   @apply bg-[#fffeed]
}
thead th {
   @apply bg-black text-white text-center py-2 border-e
   md:py-3
}
tbody td {
   @apply border border-[#c3c3c3] py-3 px-1 text-center
}